
.mat-button-toggle .swatch{
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.mat-button-toggle[color1] .swatch{
  background: pink;
}

.mat-button-toggle[color2] .swatch{
  background: blue;
}

.mat-button-toggle[color3] .swatch{
  background: grey;
}
